@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import "tailwindcss";


@layer utilities {
  .font-carattere {
    font-family: 'Carattere', cursive;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

